[user]
	email = ivo.bathke@gmail.com
	name = Ivo Bathke
[core]
    excludesfile = /Users/ivobathke/.gitignore
	autocrlf = input
[init]
	defaultBranch = main
[alias]
    uncommit = reset --soft HEAD~1
